<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>nonmarkingreturn</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>uni00B9</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccircumflex</string>
		<string>ccircumflex</string>
		<string>Cdotaccent</string>
		<string>cdotaccent</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Ebreve</string>
		<string>ebreve</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gcircumflex</string>
		<string>gcircumflex</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Gdotaccent</string>
		<string>gdotaccent</string>
		<string>uni0122</string>
		<string>uni0123</string>
		<string>Hcircumflex</string>
		<string>hcircumflex</string>
		<string>Hbar</string>
		<string>hbar</string>
		<string>Itilde</string>
		<string>itilde</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Ibreve</string>
		<string>ibreve</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>IJ</string>
		<string>ij</string>
		<string>Jcircumflex</string>
		<string>jcircumflex</string>
		<string>uni0136</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>uni013B</string>
		<string>uni013C</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Ldot</string>
		<string>ldot</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>uni0145</string>
		<string>uni0146</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>napostrophe</string>
		<string>Eng</string>
		<string>eng</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Obreve</string>
		<string>obreve</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>uni0156</string>
		<string>uni0157</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scircumflex</string>
		<string>scircumflex</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Tbar</string>
		<string>tbar</string>
		<string>Utilde</string>
		<string>utilde</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Ubreve</string>
		<string>ubreve</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Wcircumflex</string>
		<string>wcircumflex</string>
		<string>Ycircumflex</string>
		<string>ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>longs</string>
		<string>uni0180</string>
		<string>uni0181</string>
		<string>uni0186</string>
		<string>uni018A</string>
		<string>uni018E</string>
		<string>uni018F</string>
		<string>uni0190</string>
		<string>uni0191</string>
		<string>florin</string>
		<string>uni0194</string>
		<string>uni0197</string>
		<string>Ohorn</string>
		<string>ohorn</string>
		<string>Uhorn</string>
		<string>uhorn</string>
		<string>uni01B2</string>
		<string>uni01B5</string>
		<string>uni01B6</string>
		<string>uni01B7</string>
		<string>uni01C0</string>
		<string>uni01C1</string>
		<string>uni01CD</string>
		<string>uni01CE</string>
		<string>uni01CF</string>
		<string>uni01D0</string>
		<string>uni01D1</string>
		<string>uni01D2</string>
		<string>uni01D3</string>
		<string>uni01D4</string>
		<string>uni01D5</string>
		<string>uni01D6</string>
		<string>uni01D7</string>
		<string>uni01D8</string>
		<string>uni01D9</string>
		<string>uni01DA</string>
		<string>uni01DB</string>
		<string>uni01DC</string>
		<string>uni01E2</string>
		<string>uni01E3</string>
		<string>Gcaron</string>
		<string>gcaron</string>
		<string>uni01E8</string>
		<string>uni01E9</string>
		<string>uni01EA</string>
		<string>uni01EB</string>
		<string>uni01EE</string>
		<string>uni01EF</string>
		<string>uni01F0</string>
		<string>uni01F4</string>
		<string>uni01F5</string>
		<string>uni01F8</string>
		<string>uni01F9</string>
		<string>AEacute</string>
		<string>aeacute</string>
		<string>Oslashacute</string>
		<string>oslashacute</string>
		<string>uni0200</string>
		<string>uni0201</string>
		<string>uni0202</string>
		<string>uni0203</string>
		<string>uni0204</string>
		<string>uni0205</string>
		<string>uni0206</string>
		<string>uni0207</string>
		<string>uni0208</string>
		<string>uni0209</string>
		<string>uni020A</string>
		<string>uni020B</string>
		<string>uni020C</string>
		<string>uni020D</string>
		<string>uni020E</string>
		<string>uni020F</string>
		<string>uni0210</string>
		<string>uni0211</string>
		<string>uni0212</string>
		<string>uni0213</string>
		<string>uni0214</string>
		<string>uni0215</string>
		<string>uni0216</string>
		<string>uni0217</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>uni021E</string>
		<string>uni021F</string>
		<string>uni0226</string>
		<string>uni0227</string>
		<string>uni0228</string>
		<string>uni0229</string>
		<string>uni022E</string>
		<string>uni022F</string>
		<string>uni0232</string>
		<string>uni0233</string>
		<string>uni0237</string>
		<string>uni0243</string>
		<string>uni0244</string>
		<string>uni0248</string>
		<string>uni0249</string>
		<string>uni0253</string>
		<string>uni0254</string>
		<string>uni0256</string>
		<string>uni0257</string>
		<string>uni0258</string>
		<string>uni0259</string>
		<string>uni025B</string>
		<string>uni025C</string>
		<string>uni025F</string>
		<string>uni0263</string>
		<string>uni0268</string>
		<string>uni026A</string>
		<string>uni0274</string>
		<string>uni0283</string>
		<string>uni0289</string>
		<string>uni028A</string>
		<string>uni028B</string>
		<string>uni0292</string>
		<string>uni02B9</string>
		<string>uni02BA</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C8</string>
		<string>uni02C9</string>
		<string>uni02CA</string>
		<string>uni02CB</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>uni02F6</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0305</string>
		<string>uni0306</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>hookabovecomb</string>
		<string>uni030A</string>
		<string>uni030B</string>
		<string>uni030C</string>
		<string>uni030D</string>
		<string>uni030E</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0312</string>
		<string>uni0313</string>
		<string>uni0314</string>
		<string>uni0315</string>
		<string>uni031A</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0324</string>
		<string>uni0325</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0329</string>
		<string>uni032A</string>
		<string>uni032B</string>
		<string>uni032C</string>
		<string>uni032D</string>
		<string>uni032E</string>
		<string>uni032F</string>
		<string>uni0330</string>
		<string>uni0331</string>
		<string>uni0332</string>
		<string>uni0334</string>
		<string>uni0335</string>
		<string>uni0336</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>uni0358</string>
		<string>dieresistonos</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>iotadieresistonos</string>
		<string>Gamma</string>
		<string>uni0394</string>
		<string>Theta</string>
		<string>Lambda</string>
		<string>Xi</string>
		<string>Pi</string>
		<string>Sigma</string>
		<string>Phi</string>
		<string>Psi</string>
		<string>uni03A9</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>iotatonos</string>
		<string>upsilondieresistonos</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>xi</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigma1</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotadieresis</string>
		<string>upsilondieresis</string>
		<string>upsilontonos</string>
		<string>omegatonos</string>
		<string>phi1</string>
		<string>uni03DD</string>
		<string>uni0402</string>
		<string>uni0403</string>
		<string>uni0404</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni040B</string>
		<string>uni040C</string>
		<string>uni040D</string>
		<string>uni040E</string>
		<string>uni040F</string>
		<string>uni0411</string>
		<string>uni0414</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041B</string>
		<string>uni0423</string>
		<string>uni0424</string>
		<string>uni0426</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni042C</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0434</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0442</string>
		<string>uni0444</string>
		<string>uni0446</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni044C</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0452</string>
		<string>uni0453</string>
		<string>uni0454</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni045B</string>
		<string>uni045C</string>
		<string>uni045D</string>
		<string>uni045E</string>
		<string>uni045F</string>
		<string>uni0490</string>
		<string>uni0491</string>
		<string>uni0492</string>
		<string>uni0493</string>
		<string>uni0496</string>
		<string>uni0497</string>
		<string>uni049A</string>
		<string>uni049B</string>
		<string>uni04A2</string>
		<string>uni04A3</string>
		<string>uni04AE</string>
		<string>uni04AF</string>
		<string>uni04B0</string>
		<string>uni04B1</string>
		<string>uni04BA</string>
		<string>uni04BB</string>
		<string>uni04C1</string>
		<string>uni04C2</string>
		<string>uni04D0</string>
		<string>uni04D1</string>
		<string>uni04D2</string>
		<string>uni04D3</string>
		<string>uni04D6</string>
		<string>uni04D7</string>
		<string>uni04DA</string>
		<string>uni04DB</string>
		<string>uni04DC</string>
		<string>uni04DD</string>
		<string>uni04DE</string>
		<string>uni04DF</string>
		<string>uni04E2</string>
		<string>uni04E3</string>
		<string>uni04E4</string>
		<string>uni04E5</string>
		<string>uni04E6</string>
		<string>uni04E7</string>
		<string>uni04E8</string>
		<string>uni04E9</string>
		<string>uni04EA</string>
		<string>uni04EB</string>
		<string>uni04EC</string>
		<string>uni04ED</string>
		<string>uni04EE</string>
		<string>uni04EF</string>
		<string>uni04F0</string>
		<string>uni04F1</string>
		<string>uni04F2</string>
		<string>uni04F3</string>
		<string>uni04F4</string>
		<string>uni04F5</string>
		<string>uni04F8</string>
		<string>uni04F9</string>
		<string>uni0E01</string>
		<string>uni0E02</string>
		<string>uni0E03</string>
		<string>uni0E04</string>
		<string>uni0E05</string>
		<string>uni0E06</string>
		<string>uni0E07</string>
		<string>uni0E08</string>
		<string>uni0E09</string>
		<string>uni0E0A</string>
		<string>uni0E0B</string>
		<string>uni0E0C</string>
		<string>uni0E0D</string>
		<string>uni0E0E</string>
		<string>uni0E0F</string>
		<string>uni0E10</string>
		<string>uni0E11</string>
		<string>uni0E12</string>
		<string>uni0E13</string>
		<string>uni0E14</string>
		<string>uni0E15</string>
		<string>uni0E16</string>
		<string>uni0E17</string>
		<string>uni0E18</string>
		<string>uni0E19</string>
		<string>uni0E1A</string>
		<string>uni0E1B</string>
		<string>uni0E1C</string>
		<string>uni0E1D</string>
		<string>uni0E1E</string>
		<string>uni0E1F</string>
		<string>uni0E20</string>
		<string>uni0E21</string>
		<string>uni0E22</string>
		<string>uni0E23</string>
		<string>uni0E24</string>
		<string>uni0E25</string>
		<string>uni0E26</string>
		<string>uni0E27</string>
		<string>uni0E28</string>
		<string>uni0E29</string>
		<string>uni0E2A</string>
		<string>uni0E2B</string>
		<string>uni0E2C</string>
		<string>uni0E2D</string>
		<string>uni0E2E</string>
		<string>uni0E2F</string>
		<string>uni0E30</string>
		<string>uni0E31</string>
		<string>uni0E32</string>
		<string>uni0E33</string>
		<string>uni0E34</string>
		<string>uni0E35</string>
		<string>uni0E36</string>
		<string>uni0E37</string>
		<string>uni0E38</string>
		<string>uni0E39</string>
		<string>uni0E3A</string>
		<string>uni0E3F</string>
		<string>uni0E40</string>
		<string>uni0E41</string>
		<string>uni0E42</string>
		<string>uni0E43</string>
		<string>uni0E44</string>
		<string>uni0E45</string>
		<string>uni0E46</string>
		<string>uni0E47</string>
		<string>uni0E48</string>
		<string>uni0E49</string>
		<string>uni0E4A</string>
		<string>uni0E4B</string>
		<string>uni0E4C</string>
		<string>uni0E4D</string>
		<string>uni0E4E</string>
		<string>uni0E4F</string>
		<string>uni0E50</string>
		<string>uni0E51</string>
		<string>uni0E52</string>
		<string>uni0E53</string>
		<string>uni0E54</string>
		<string>uni0E55</string>
		<string>uni0E56</string>
		<string>uni0E57</string>
		<string>uni0E58</string>
		<string>uni0E59</string>
		<string>uni0E5A</string>
		<string>uni0E5B</string>
		<string>uni0E81</string>
		<string>uni0E82</string>
		<string>uni0E83</string>
		<string>uni0E84</string>
		<string>uni0E85</string>
		<string>uni0E86</string>
		<string>uni0E87</string>
		<string>uni0E88</string>
		<string>uni0E89</string>
		<string>uni0E8A</string>
		<string>uni0E8C</string>
		<string>uni0E8D</string>
		<string>uni0E8E</string>
		<string>uni0E8F</string>
		<string>uni0E90</string>
		<string>uni0E91</string>
		<string>uni0E92</string>
		<string>uni0E93</string>
		<string>uni0E94</string>
		<string>uni0E95</string>
		<string>uni0E96</string>
		<string>uni0E97</string>
		<string>uni0E98</string>
		<string>uni0E99</string>
		<string>uni0E9A</string>
		<string>uni0E9B</string>
		<string>uni0E9C</string>
		<string>uni0E9D</string>
		<string>uni0E9E</string>
		<string>uni0E9F</string>
		<string>uni0EA0</string>
		<string>uni0EA1</string>
		<string>uni0EA2</string>
		<string>uni0EA3</string>
		<string>uni0EA4</string>
		<string>uni0EA5</string>
		<string>uni0EA6</string>
		<string>uni0EA7</string>
		<string>uni0EA8</string>
		<string>uni0EA9</string>
		<string>uni0EAA</string>
		<string>uni0EAB</string>
		<string>uni0EAC</string>
		<string>uni0EAD</string>
		<string>uni0EAE</string>
		<string>uni0EAF</string>
		<string>uni0EB0</string>
		<string>uni0EB1</string>
		<string>uni0EB2</string>
		<string>uni0EB3</string>
		<string>uni0EB4</string>
		<string>uni0EB5</string>
		<string>uni0EB6</string>
		<string>uni0EB7</string>
		<string>uni0EB8</string>
		<string>uni0EB9</string>
		<string>uni0EBA</string>
		<string>uni0EBB</string>
		<string>uni0EBC</string>
		<string>uni0EBD</string>
		<string>uni0EC0</string>
		<string>uni0EC1</string>
		<string>uni0EC2</string>
		<string>uni0EC3</string>
		<string>uni0EC4</string>
		<string>uni0EC6</string>
		<string>uni0EC8</string>
		<string>uni0EC9</string>
		<string>uni0ECA</string>
		<string>uni0ECB</string>
		<string>uni0ECC</string>
		<string>uni0ECD</string>
		<string>uni0ECE</string>
		<string>uni0ED0</string>
		<string>uni0ED1</string>
		<string>uni0ED2</string>
		<string>uni0ED3</string>
		<string>uni0ED4</string>
		<string>uni0ED5</string>
		<string>uni0ED6</string>
		<string>uni0ED7</string>
		<string>uni0ED8</string>
		<string>uni0ED9</string>
		<string>uni0EDC</string>
		<string>uni0EDD</string>
		<string>uni0EDE</string>
		<string>uni0EDF</string>
		<string>uni1D3A</string>
		<string>uni1E10</string>
		<string>uni1E11</string>
		<string>uni1E22</string>
		<string>uni1E23</string>
		<string>uni1E40</string>
		<string>uni1E41</string>
		<string>uni1E44</string>
		<string>uni1E45</string>
		<string>uni1EA0</string>
		<string>uni1EA1</string>
		<string>uni1EA2</string>
		<string>uni1EA3</string>
		<string>uni1EA4</string>
		<string>uni1EA5</string>
		<string>uni1EA6</string>
		<string>uni1EA7</string>
		<string>uni1EA8</string>
		<string>uni1EA9</string>
		<string>uni1EAA</string>
		<string>uni1EAB</string>
		<string>uni1EAC</string>
		<string>uni1EAD</string>
		<string>uni1EAE</string>
		<string>uni1EAF</string>
		<string>uni1EB0</string>
		<string>uni1EB1</string>
		<string>uni1EB2</string>
		<string>uni1EB3</string>
		<string>uni1EB4</string>
		<string>uni1EB5</string>
		<string>uni1EB6</string>
		<string>uni1EB7</string>
		<string>uni1EB8</string>
		<string>uni1EB9</string>
		<string>uni1EBA</string>
		<string>uni1EBB</string>
		<string>uni1EBC</string>
		<string>uni1EBD</string>
		<string>uni1EBE</string>
		<string>uni1EBF</string>
		<string>uni1EC0</string>
		<string>uni1EC1</string>
		<string>uni1EC2</string>
		<string>uni1EC3</string>
		<string>uni1EC4</string>
		<string>uni1EC5</string>
		<string>uni1EC6</string>
		<string>uni1EC7</string>
		<string>uni1EC8</string>
		<string>uni1EC9</string>
		<string>uni1ECA</string>
		<string>uni1ECB</string>
		<string>uni1ECC</string>
		<string>uni1ECD</string>
		<string>uni1ECE</string>
		<string>uni1ECF</string>
		<string>uni1ED0</string>
		<string>uni1ED1</string>
		<string>uni1ED2</string>
		<string>uni1ED3</string>
		<string>uni1ED4</string>
		<string>uni1ED5</string>
		<string>uni1ED6</string>
		<string>uni1ED7</string>
		<string>uni1ED8</string>
		<string>uni1ED9</string>
		<string>uni1EDA</string>
		<string>uni1EDB</string>
		<string>uni1EDC</string>
		<string>uni1EDD</string>
		<string>uni1EDE</string>
		<string>uni1EDF</string>
		<string>uni1EE0</string>
		<string>uni1EE1</string>
		<string>uni1EE2</string>
		<string>uni1EE3</string>
		<string>uni1EE4</string>
		<string>uni1EE5</string>
		<string>uni1EE6</string>
		<string>uni1EE7</string>
		<string>uni1EE8</string>
		<string>uni1EE9</string>
		<string>uni1EEA</string>
		<string>uni1EEB</string>
		<string>uni1EEC</string>
		<string>uni1EED</string>
		<string>uni1EEE</string>
		<string>uni1EEF</string>
		<string>uni1EF0</string>
		<string>uni1EF1</string>
		<string>Ygrave</string>
		<string>ygrave</string>
		<string>uni1EF4</string>
		<string>uni1EF5</string>
		<string>uni1EF6</string>
		<string>uni1EF7</string>
		<string>uni1EF8</string>
		<string>uni1EF9</string>
		<string>uni2000</string>
		<string>uni2001</string>
		<string>uni2002</string>
		<string>uni2003</string>
		<string>uni2004</string>
		<string>uni2005</string>
		<string>uni2006</string>
		<string>uni2007</string>
		<string>uni2008</string>
		<string>uni2009</string>
		<string>uni200A</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni2015</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotereversed</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>uni201F</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>uni2070</string>
		<string>uni2071</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>uni207A</string>
		<string>uni207B</string>
		<string>uni207C</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>uni207F</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>uni208A</string>
		<string>uni208B</string>
		<string>uni208C</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>Euro</string>
		<string>uni20AD</string>
		<string>trademark</string>
		<string>Omega</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2198</string>
		<string>uni2199</string>
		<string>uni21A9</string>
		<string>uni21AA</string>
		<string>carriagereturn</string>
		<string>arrowdblleft</string>
		<string>arrowdblup</string>
		<string>arrowdblright</string>
		<string>arrowdbldown</string>
		<string>arrowdblboth</string>
		<string>uni21D5</string>
		<string>uni21D6</string>
		<string>uni21D7</string>
		<string>uni21D8</string>
		<string>uni21D9</string>
		<string>uni21E5</string>
		<string>uni21E6</string>
		<string>uni21E7</string>
		<string>uni21E8</string>
		<string>uni21E9</string>
		<string>uni21EA</string>
		<string>uni21EB</string>
		<string>uni21EC</string>
		<string>uni21ED</string>
		<string>uni21EE</string>
		<string>uni21EF</string>
		<string>uni21F0</string>
		<string>uni21F1</string>
		<string>uni21F2</string>
		<string>uni21F3</string>
		<string>universal</string>
		<string>partialdiff</string>
		<string>Delta</string>
		<string>product</string>
		<string>summation</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>uni2318</string>
		<string>uni2325</string>
		<string>uni232B</string>
		<string>uni2387</string>
		<string>uni23CE</string>
		<string>SF100000</string>
		<string>uni2501</string>
		<string>SF110000</string>
		<string>uni2503</string>
		<string>uni2504</string>
		<string>uni2505</string>
		<string>uni2506</string>
		<string>uni2507</string>
		<string>uni2508</string>
		<string>uni2509</string>
		<string>uni250A</string>
		<string>uni250B</string>
		<string>SF010000</string>
		<string>uni250D</string>
		<string>uni250E</string>
		<string>uni250F</string>
		<string>SF030000</string>
		<string>uni2511</string>
		<string>uni2512</string>
		<string>uni2513</string>
		<string>SF020000</string>
		<string>uni2515</string>
		<string>uni2516</string>
		<string>uni2517</string>
		<string>SF040000</string>
		<string>uni2519</string>
		<string>uni251A</string>
		<string>uni251B</string>
		<string>SF080000</string>
		<string>uni251D</string>
		<string>uni251E</string>
		<string>uni251F</string>
		<string>uni2520</string>
		<string>uni2521</string>
		<string>uni2522</string>
		<string>uni2523</string>
		<string>SF090000</string>
		<string>uni2525</string>
		<string>uni2526</string>
		<string>uni2527</string>
		<string>uni2528</string>
		<string>uni2529</string>
		<string>uni252A</string>
		<string>uni252B</string>
		<string>SF060000</string>
		<string>uni252D</string>
		<string>uni252E</string>
		<string>uni252F</string>
		<string>uni2530</string>
		<string>uni2531</string>
		<string>uni2532</string>
		<string>uni2533</string>
		<string>SF070000</string>
		<string>uni2535</string>
		<string>uni2536</string>
		<string>uni2537</string>
		<string>uni2538</string>
		<string>uni2539</string>
		<string>uni253A</string>
		<string>uni253B</string>
		<string>SF050000</string>
		<string>uni253D</string>
		<string>uni253E</string>
		<string>uni253F</string>
		<string>uni2540</string>
		<string>uni2541</string>
		<string>uni2542</string>
		<string>uni2543</string>
		<string>uni2544</string>
		<string>uni2545</string>
		<string>uni2546</string>
		<string>uni2547</string>
		<string>uni2548</string>
		<string>uni2549</string>
		<string>uni254A</string>
		<string>uni254B</string>
		<string>uni254C</string>
		<string>uni254D</string>
		<string>uni254E</string>
		<string>uni254F</string>
		<string>SF430000</string>
		<string>SF240000</string>
		<string>SF510000</string>
		<string>SF520000</string>
		<string>SF390000</string>
		<string>SF220000</string>
		<string>SF210000</string>
		<string>SF250000</string>
		<string>SF500000</string>
		<string>SF490000</string>
		<string>SF380000</string>
		<string>SF280000</string>
		<string>SF270000</string>
		<string>SF260000</string>
		<string>SF360000</string>
		<string>SF370000</string>
		<string>SF420000</string>
		<string>SF190000</string>
		<string>SF200000</string>
		<string>SF230000</string>
		<string>SF470000</string>
		<string>SF480000</string>
		<string>SF410000</string>
		<string>SF450000</string>
		<string>SF460000</string>
		<string>SF400000</string>
		<string>SF540000</string>
		<string>SF530000</string>
		<string>SF440000</string>
		<string>uni256D</string>
		<string>uni256E</string>
		<string>uni256F</string>
		<string>uni2570</string>
		<string>uni2571</string>
		<string>uni2572</string>
		<string>uni2573</string>
		<string>uni2574</string>
		<string>uni2575</string>
		<string>uni2576</string>
		<string>uni2577</string>
		<string>uni2578</string>
		<string>uni2579</string>
		<string>uni257A</string>
		<string>uni257B</string>
		<string>uni257C</string>
		<string>uni257D</string>
		<string>uni257E</string>
		<string>uni257F</string>
		<string>upblock</string>
		<string>uni2581</string>
		<string>uni2582</string>
		<string>uni2583</string>
		<string>dnblock</string>
		<string>uni2585</string>
		<string>uni2586</string>
		<string>uni2587</string>
		<string>block</string>
		<string>uni2589</string>
		<string>uni258A</string>
		<string>uni258B</string>
		<string>lfblock</string>
		<string>uni258D</string>
		<string>uni258E</string>
		<string>uni258F</string>
		<string>rtblock</string>
		<string>ltshade</string>
		<string>shade</string>
		<string>dkshade</string>
		<string>uni2594</string>
		<string>uni2595</string>
		<string>uni2596</string>
		<string>uni2597</string>
		<string>uni2598</string>
		<string>uni2599</string>
		<string>uni259A</string>
		<string>uni259B</string>
		<string>uni259C</string>
		<string>uni259D</string>
		<string>uni259E</string>
		<string>uni259F</string>
		<string>filledbox</string>
		<string>H22073</string>
		<string>triagup</string>
		<string>uni25B3</string>
		<string>triagdn</string>
		<string>uni25BD</string>
		<string>lozenge</string>
		<string>circle</string>
		<string>uni25CC</string>
		<string>uni25CE</string>
		<string>H18533</string>
		<string>uni25E1</string>
		<string>uni25EF</string>
		<string>uni2605</string>
		<string>uni2606</string>
		<string>uni2661</string>
		<string>heart</string>
		<string>uni2669</string>
		<string>musicalnote</string>
		<string>musicalnotedbl</string>
		<string>uni266C</string>
		<string>uni266D</string>
		<string>uni266E</string>
		<string>uni266F</string>
		<string>uni26A0</string>
		<string>uni2726</string>
		<string>uni2727</string>
		<string>uni2764</string>
		<string>uni2765</string>
		<string>uni2919</string>
		<string>uniE133</string>
		<string>uniE134</string>
		<string>uniE139</string>
		<string>uniE140</string>
		<string>uniF001</string>
		<string>uniF002</string>
		<string>uniF003</string>
		<string>uni0E10.descless</string>
		<string>uni0E34.left</string>
		<string>uni0E35.left</string>
		<string>uni0E36.left</string>
		<string>uni0E37.left</string>
		<string>uni0E48.low_left</string>
		<string>uni0E49.low_left</string>
		<string>uni0E4A.low_left</string>
		<string>uni0E4B.low_left</string>
		<string>uni0E4C.low_left</string>
		<string>uni0E48.low</string>
		<string>uni0E49.low</string>
		<string>uni0E4A.low</string>
		<string>uni0E4B.low</string>
		<string>uni0E4C.low</string>
		<string>uni0E0D.descless</string>
		<string>uni0E31.left</string>
		<string>uni0E4D.left</string>
		<string>uni0E47.left</string>
		<string>uni0E48.left</string>
		<string>uni0E49.left</string>
		<string>uni0E4A.left</string>
		<string>uni0E4B.left</string>
		<string>uni0E4C.left</string>
		<string>uni0E38.low</string>
		<string>uni0E39.low</string>
		<string>uni0E3A.low</string>
		<string>uni0E4D.high</string>
		<string>uni0E47.high</string>
		<string>uni0E4E.high</string>
		<string>uniF880</string>
		<string>uni0E24_uni0E45</string>
		<string>uni0E26_uni0E45</string>
		<string>uniFB00</string>
		<string>uniFB01</string>
		<string>uniFB02</string>
		<string>uniFB03</string>
		<string>uniFB04</string>
		<string>uniFF01</string>
		<string>uniFF08</string>
		<string>uniFF09</string>
		<string>uniFF0F</string>
		<string>uniFF3C</string>
		<string>uniFF44</string>
		<string>uniFF61</string>
		<string>uniFFFC</string>
		<string>uniFFFD</string>
		<string>u1F494</string>
		<string>u1FBB0</string>
		<string>u1FBB2</string>
		<string>u1FBB3</string>
	</array>
	<key>public.unicodeVariationSequences</key>
	<dict>
		<key>FE0A</key>
		<dict>
			<key> 000E10</key>
			<string>uni0E10.descless</string>
			<key> 000E0D</key>
			<string>uni0E0D.descless</string>
		</dict>
		<key>FE0E</key>
		<dict>
			<key> 002764</key>
			<string>uni2764</string>
			<key> 01F494</key>
			<string>u1F494</string>
			<key> 002194</key>
			<string>arrowboth</string>
			<key> 002195</key>
			<string>arrowupdn</string>
			<key> 002196</key>
			<string>uni2196</string>
			<key> 002197</key>
			<string>uni2197</string>
			<key> 002198</key>
			<string>uni2198</string>
			<key> 002199</key>
			<string>uni2199</string>
			<key> 0021A9</key>
			<string>uni21A9</string>
			<key> 0021AA</key>
			<string>uni21AA</string>
			<key> 0026A0</key>
			<string>uni26A0</string>
		</dict>
	</dict>
</dict>
</plist>
